<mat-card class="top-card">
  <!-- <mat-card-header>
    <mat-card-subtitle>Illlidan</mat-card-subtitle>
    <mat-card-title>DH class</mat-card-title>
  </mat-card-header> -->
  <mat-card-content>
    The Yale School of Art is a <strong>graduate school</strong> that confers MFAs in Graphic Design, Painting/Printmaking, 
    Photography, and Sculpture; and offers undergraduate-level art courses to Yale College students. 
    Our website exists as an <strong>ongoing collaborative experiment</strong> in digital publishing and information sharing. 
    It functions as a wiki—all members of the School of Art community have the ability to add new, and edit 
    most existing content.
  </mat-card-content>
</mat-card>

<h2 class="starting-title">
  On this page
</h2>

<section class="article-container">
  
</section>